* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

:root {
  --header-background: #3ebfff;
  --graphic-design-color: hsl(167, 40%, 24%);
  --photography-color: hsl(198, 62%, 26%);
  --client-text: hsl(213, 9%, 39%);
  --client-title: hsl(212, 27%, 19%);
  --secundary-color: hsl(232, 10%, 55%);
  --footer-background: hsl(167, 44%, 70%);
  --footer-color: hsl(166, 61%, 25%);
}

main {
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}

/* - Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900 */

/* ========================================= */

/* HEADER */
.header {
  width: 80%;
  height: 95px;
  background-color: var(--header-background);
  display: flex;
  justify-content: space-between;
}

.brand {
  width: 150px;
  padding: 35px 25px;
  display: inline-block;
}

.header__nav-menu {
  display: flex;
}

.header__nav-item {
  align-self: center;
  padding: 32px 25px;
}

.header-link:link {
  color: #fff;
}

.header__nav-item .link-contact {
  width: 145px;
  height: 45px;
  padding: 13px 15px;
  background-color: #fff;
  font-size: 1rem;
  font-family: "Fraunces", serif;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  display: block;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* ========================================= */

/* FIRST PART */
.first-part {
  width: 100%;
  height: 350px;
  background-image: url(../assets/images/mobile/image-header.jpg);
  background-color: var(--header-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.first-part__title {
  width: 300px;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #fff;
}

/* ========================================= */

/* SECOND PART */
.second-part {
  width: 100%;
  min-width: 320px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.second-part-content-div {
  width: 100%;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 10px;
  flex-basis: 320px;
}

.container-1 {
  order: 3;
}

.container-2 {
  order: 4;
}

.second-part-image-div {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-3 {
  background-image: url(../assets/images/mobile/image-transform.jpg);
  order: 1;
}

.container-4 {
  background-image: url(../assets/images/mobile/image-stand-out.jpg);
  order: 3;
}

.second-part__title {
  width: 250px;
  margin: 0 auto 0 auto;
  font-family: "Fraunces", serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.second-part__text {
  width: 280px;
  margin: 0 auto 35px auto;
  font-size: 0.99rem;
  line-height: 20px;
  color: var(--secundary-color);
}

.second-part__link {
  position: relative;
  font-family: "Fraunces", serif;
  background-color: transparent;
}

.second-part__link a:link {
  color: var(--client-title);
}

.second-part__link::after {
  content: "";
  position: absolute;
  left: -2px;
  top: 15px;
  width: 110px;
  height: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: -10;
}

.link--container-1::after {
  background-color: #fef2be;
}

.link__container-1::after:hover {
  background-color: #f1d800;
}

.link--container-2::after {
  background-color: #ffd8d2;
}

.link--container-2::after:hover {
  background-color: #ff8372;
}

/* ========================================= */

/* THIRD PART */
.third-part {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
}

.third-part__card {
  width: 100%;
  min-width: 320px;
  height: 490px; /* AÑADIR MEDIA QUERIE */
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  background-image: url(../assets/images/mobile/image-graphic-design.jpg);
}

.right {
  background-image: url(../assets/images/mobile/image-photography.jpg);
}

.third-part__title {
  margin: 320px 0 25px 0; /* AÑADIR MEDIA QUERIE */
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 600;
}

.third-part__text {
  width: 300px;
  margin: 0 auto;
  font-size: 0.9rem;
  text-align: center;
  line-height: 20px;
}

.left--title,
.left--text {
  color: var(--graphic-design-color);
}

.right--title,
.right--text {
  color: var(--photography-color);
}

/* ========================================= */

/* FOURTH PART */
.fourth-part {
  width: 100%;
  min-width: 320px;
  text-align: center;
}

.fourth-part__span {
  margin: 45px 0;
  font-size: 0.9rem;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--secundary-color);
  display: inline-block;
}

.client-image {
  width: 80px;
  max-width: 500px;
  margin-bottom: 25px;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  -ms-border-radius: 250px;
  -o-border-radius: 250px;
}

.client__text {
  width: 295px;
  margin: 0 auto 25px auto;
  font-size: 1rem;
  line-height: 20px;
  color: var(--client-text);
}

.client__title {
  margin-bottom: 8px;
  font-size: 1rem;
  font-family: "Fraunces", serif;
  color: var(--client-title);
}

.client__topic {
  margin-bottom: 55px;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--secundary-color);
  display: inline-block;
}

/* ========================================= */

/* FIFTH PART */
.fifth-part {
  width: 100%;
  min-width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.fifth-part__image {
  width: 50%;
  min-width: 50%;
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-1 {
  background-image: url(../assets/images/mobile/image-gallery-milkbottles.jpg);
}
.image-2 {
  background-image: url(../assets/images/mobile/image-gallery-orange.jpg);
}

.image-3 {
  background-image: url(../assets/images/mobile/image-gallery-cone.jpg);
}
.image-4 {
  background-image: url(../assets/images/mobile/image-gallery-sugar-cubes.jpg);
}

/* ========================================= */

/* FOOTER */
.footer {
  width: 100%;
  padding-top: 35px;
  background-color: var(--footer-background);
  background-image: url(../assets/images/logo_footer.svg);
  background-repeat: no-repeat;
  background-position: center 50px;
}

.footer__nav {
  margin: 70px auto 40px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__link {
  margin: 5px;
  display: inline-block;
}

.link:link {
  color: var(--footer-color);
}

.link:visited {
  color: var(--footer-color);
}

.footer__social-media {
  color: var(--footer-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  margin: 15px 15px 65px 15px;
}

@media (min-width: 376px) and (max-width: 425px) {
  .third-part__card {
    height: 530px; /* MEDIA QUERIE PARA AJUSTAR GRAPHIC DESIGN */
  }

  .third-part__title {
    margin: 370px 0 25px 0; /* MEDIA QUERIE PARA AJUSTAR PHOTOGRAPHY */
  }
}

@media (min-width: 426px) and (max-width: 647px) {
  main {
    width: 100%;
    outline: 2px solid rgba(0, 0, 0, 0.5);
  }
  .first-part {
    width: 100%;
    height: 550px;
    background-image: url(../assets/images/desktop/image-header.jpg);
    background-color: var(--header-background);
    background-size: 1000px;
    background-position: center bottom;
  }

  .first-part__title {
    width: 500px;
    padding-top: 120px;
    font-size: 2rem;
    letter-spacing: 5px;
  }

  /* =================================================== */

  /* SECONDA PART */
  .second-part {
    width: 100%;
    min-width: 320px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 320px;
    flex-shrink: 1;
  }

  .second-part-content-div {
    width: 50%;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 10px;
  }

  .container-1 {
    order: 0;
  }

  .container-2 {
    order: 4;
  }

  .second-part-image-div {
    width: 50%;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .container-3 {
    background-image: url(../assets/images/mobile/image-transform.jpg);
    order: 1;
  }

  .container-4 {
    background-image: url(../assets/images/mobile/image-stand-out.jpg);
    order: 3;
  }

  .second-part__title {
    width: 250px;
    margin: 0 0 0 0;
    font-family: "Fraunces", serif;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .second-part__text {
    width: 280px;
    margin: 0 auto 35px auto;
    font-size: 0.99rem;
    line-height: 20px;
    color: var(--secundary-color);
  }

  /* =================================================== */

  /* THIRD PART */
  .third-part__card {
    height: 520px;
    flex-basis: 320px;
    flex-shrink: 1;
    flex-grow: 2;
  }

  .left {
    background-image: url(../assets/images/mobile/image-graphic-design.jpg);
  }

  .right {
    background-image: url(../assets/images/mobile/image-photography.jpg);
    background-size: cover;
  }

  .third-part__title {
    margin: 350px 0 25px 0;
  }

  .third-part__text {
    width: 300px;
    margin: 0 auto;
    font-size: 0.9rem;
    text-align: center;
    line-height: 20px;
  }

  .left--title,
  .left--text {
    color: var(--graphic-design-color);
  }

  .right--title,
  .right--text {
    color: var(--photography-color);
  }

  /* ========================================== */

  /* FIFTH PART */
  .fifth-part {
    width: 100%;
    min-width: 320px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
  }

  .fifth-part__image {
    width: 50%;
    min-width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-1 {
    background-position: center bottom;
    background-image: url(../assets/images/mobile/image-gallery-milkbottles.jpg);
  }
  .image-2 {
    background-image: url(../assets/images/mobile/image-gallery-orange.jpg);
  }

  .image-3 {
    background-image: url(../assets/images/mobile/image-gallery-cone.jpg);
  }
  .image-4 {
    background-image: url(../assets/images/mobile/image-gallery-sugar-cubes.jpg);
  }
}

@media (min-width: 648px) and (max-width: 768px) {
  main {
    width: 100%;
    outline: 2px solid rgba(0, 0, 0, 0.5);
  }

  /* FIRST PART */
  .first-part {
    width: 100%;
    height: 550px;
    background-image: url(../assets/images/desktop/image-header.jpg);
    background-color: var(--header-background);
    background-size: 1000px;
    background-position: center bottom;
  }

  .first-part__title {
    width: 500px;
    padding-top: 120px;
    font-size: 2rem;
    letter-spacing: 5px;
  }

  /* =================================================== */

  /* SECONDA PART */
  .second-part {
    width: 100%;
    min-width: 320px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 320px;
    flex-shrink: 1;
  }

  .second-part-content-div {
    width: 50%;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 10px;
  }

  .container-1 {
    order: 0;
  }

  .container-2 {
    order: 4;
  }

  .second-part-image-div {
    width: 50%;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .container-3 {
    background-image: url(../assets/images/mobile/image-transform.jpg);
    order: 1;
  }

  .container-4 {
    background-image: url(../assets/images/mobile/image-stand-out.jpg);
    order: 3;
  }

  .second-part__title {
    width: 250px;
    margin: 0 0 0 0;
    font-family: "Fraunces", serif;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .second-part__text {
    width: 280px;
    margin: 0 auto 35px auto;
    font-size: 0.99rem;
    line-height: 20px;
    color: var(--secundary-color);
  }

  /* =================================================== */

  /* THIRD PART */
  .third-part__card {
    height: 520px;
    flex-basis: 320px;
    flex-shrink: 1;
    flex-grow: 2;
  }

  .left {
    background-image: url(../assets/images/mobile/image-graphic-design.jpg);
  }

  .right {
    background-image: url(../assets/images/mobile/image-photography.jpg);
    background-size: cover;
  }

  .third-part__title {
    margin: 350px 0 25px 0;
  }

  .third-part__text {
    width: 300px;
    margin: 0 auto;
    font-size: 0.9rem;
    text-align: center;
    line-height: 20px;
  }

  .left--title,
  .left--text {
    color: var(--graphic-design-color);
  }

  .right--title,
  .right--text {
    color: var(--photography-color);
  }

  /* ========================================== */

  /* FIFTH PART */
  .fifth-part {
    width: 100%;
    min-width: 320px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
  }

  .fifth-part__image {
    width: 50%;
    min-width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-1 {
    background-position: center bottom;
    background-image: url(../assets/images/mobile/image-gallery-milkbottles.jpg);
  }
  .image-2 {
    background-image: url(../assets/images/mobile/image-gallery-orange.jpg);
  }

  .image-3 {
    background-image: url(../assets/images/mobile/image-gallery-cone.jpg);
  }
  .image-4 {
    background-image: url(../assets/images/mobile/image-gallery-sugar-cubes.jpg);
  }
}
